/* mobile*/
@media only screen and (max-width:375px){
    body{
        margin:0 ;
        padding: 0;
    }
    .navigation:hover{
        background: white;
        width:300px;
        height:1000px;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;    
    }
    .nav{
        list-style: none;
        display: flex;
        flex-direction: column;
           
    }

    .home-img{
        height:250px;
        width:350px;
    }
    .container-1{
        display: flex;
        flex-direction: column;
        
    }

    .item-1-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .title{
        font-size:50px;
        
    }

    .item-2{
        width:350px ;
        height: 400px;
        background: hsl(240, 100%, 5%);
        color: aliceblue;   
}

.container-2{
   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.c-2-item img{
    width: 100px;
    height: 100px;
}

}
/*desktop*/
@media only screen and (min-width:1440px){
    
}
